{% extends "base.html" %}

{% block title %}Edit Product{% endblock %}

{% block content %}
<div class="container">
  <h1 class="my-4 text-center">Edit Product Form</h1>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form action="/producto/{{ producto._id }}/editar" method="POST">
        <div class="form-group">
          <div class="alert alert-danger" role="alert" id="title-error" style="display:none;">
            The title must begin with an uppercase letter.
          </div>
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            value="{{ producto.title }}"
            required
          />
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input
            type="number"
            class="form-control"
            id="price"
            name="price"
            value="{{ producto.price }}"
            required
            step="0.01"
          />
        </div>
        <div class="text-right mt-4">
          <button type="submit" class="btn btn-primary" id="submit-button" disabled>Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  const titleInput = document.getElementById('title');
  const submitButton = document.getElementById('submit-button');
  const titleError = document.getElementById('title-error');

  function validaciones() {
    const titleValue = titleInput.value;

    if (/^[A-Z]/.test(titleValue)) {
      submitButton.disabled = false; 
      titleError.style.display = 'none'; 
      submitButton.classList.remove('btn-danger'); 
    } else {
      submitButton.disabled = true; 
      titleError.style.display = 'block'; 
      submitButton.classList.add('btn-danger'); 
    }
  }
  titleInput.addEventListener('input', validaciones);
  validaciones();
</script>
{% endblock %}
