{% extends "base.html" %}

{% block title %}Products found{% endblock %}

{% block content %}
<h2>Products found:</h2>
<div class="row">
    {% if productos.length > 0 %}
        {% for producto in productos %}
        <div class="col-md-4 mb-4">
            <div class="producto card h-100">
                <img src="{{ producto.image }}" alt="{{ producto.nombre }}" class="card-img-top" />
                <div class="card-body">
                    <h2 class="card-title">{{ producto.title }}</h2>
                    <h3 class="card-subtitle mb-2 text-muted">{{ producto.category }}</h3>
                    <p class="card-text">{{ producto.description }}</p>
                    <p class="precio font-weight-bold text-success">Precio: {{ producto.price }} €</p>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>No products found.</p>
    {% endif %}
</div>
{% endblock %}
